[submodule "shell/ohmyzsh"]
	path = shell/ohmyzsh
	url = git@github.com:ohmyzsh/ohmyzsh.git
[submodule "shell/oh-my-zsh-custom/plugins/git-aliases"]
	path = shell/oh-my-zsh-custom/plugins/git-aliases
	url = git@github.com:peterhurford/git-aliases.zsh.git
[submodule "shell/oh-my-zsh-custom/plugins/zsh-syntax-highlighting"]
	path = shell/oh-my-zsh-custom/plugins/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "shell/oh-my-zsh-custom/plugins/zsh-autosuggestions"]
	path = shell/oh-my-zsh-custom/plugins/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
