snippet con
console.log( $1 )
endsnippet

snippet des
describe("$1", function () {
	it("$2", function () {
		$3
	});
});
endsnippet

snippet fun "function" i
function($1) {
	$2
});
endsnippet

snippet doc
$(document).ready(function() {
  $1
});
endsnippet
